@import url('https://fonts.googleapis.com/css?family=Amarante&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap:100,200,300,400,500,600,700');

/* -- All Pages -- */
#8a796b
#eae4dc
#ebe5db
#efeae2
#775d4a
#554134
#9e7f64
#614a3b
#b9997e
#b08d6f
#cba98b
#cba98b
#dbd9d6
#7a695e
#c5a58a
#9f9f97
#dad9d6
#c7a484

/*-I've added min-height, display flex, flex direction and flex 1 to push my footer to the bottom of the screen-*/
body,html {
    background-color: #9e7f64;
    text-align: center;
    font-family: 'Amarante', 'Roboto', sans-serif;
    color: #c7a484;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

/* -- Home Page -- */

/*-Animation added to home logo. Logo will increase in size 80% - 100% over 4 seconds-*/
.home-logo {
    animation-name: logo-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    max-width: 20rem;
    max-height: 20rem;
}

@keyframes logo-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.0);
    }
}

@media (max-width: 450px) {
    .home-logo {
    height: 15rem;
    width: 15rem;
    }
}

@media (min-width: 450px) {
    .home-logo {
    margin-top: 2rem;
    }
}

.home-text {
    font-size: 2vh;
}

.btn {
  font-size: 2.75vh;
  color: #9e7f64;
  background-color: #CA9E65;
  border-radius: 2rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.35rem 1.35rem 0 rgba(203, 158, 101, 0.8);
    color: #9e7f64;
}

/* -- Questions -- */

.page-logo {
    float: left;
}

.question-container {
    font-size: 2.25vh;
    color: #9e7f64;
    background-color: #CA9E65;
    border-radius: 2rem;
}

.question-container:hover {
    cursor: pointer;
    box-shadow: 0 0.35rem 1.35rem 0 rgba(203, 158, 101, 0.8);
}

#quiz-question {
    margin-bottom: 2rem;
    font-size: 2.75vh;
}

.answer-text {
    width: 100%;
}

.correct {
    background-color: #037403;
    color: #FFFFFF;
}

.incorrect {
    background-color: #B61E1E;
    color: #FFFFFF;
}

.detail-feature h1 {
    font-size: 2.75vh;
}

#progression-bar {
    width: 100%;
    height: 1.55rem;
    border: 0.15rem solid #CA9E65;
    border-radius: 2rem;
}

#progression {
    width: 0%;
    height: 1.3rem;
    background-color: #CA9E65;
    border-radius: 2rem;
}

/* -- Completed -- */

.cg-title {
    text-transform: uppercase;
    font-size: 4.5vh;
}

input {
    width: 100%;
    font-size: 2.75vh;
    background-color: #9e7f64;
    color: #CA9E65;
    border: 0.2rem solid #CA9E65;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 1.3rem 0 rgba(203, 158, 101, 0.8);
}

button[disabled]:hover {
    cursor: not-allowed !important;
    box-shadow: none;
}

/* -- Leaderboard -- */

.lb-title {
    text-transform: uppercase;
    font-size: 6vh;
}

#lb-list { 
    list-style: none; 
    padding-left: 0; 
    font-size: 2.25vh; 
} 

.lb-name { 
    width: 85%; 
    float: left; 
    background-color: #9e7f64; 
    color: #CA9E65; 
    border: 0.2rem solid #CA9E65; 
    border-radius: 2rem; 
    margin-bottom: 0.5rem;
} 

.lb-score { 
    width: 15%; 
    float: right; 
    background-color: #CA9E65; 
    color: #9e7f64; 
    border: 0.2rem solid #CA9E65; 
    border-radius: 2rem; 
    margin-bottom: 0.5rem; 
} 

/* -- Loader -- */

/*-This indicates to user that questions are loading. I took inspiration for this from https://www.w3schools.com/howto/howto_css_loader.asp-*/
#loading-spinner {
  border: 1rem solid #CA9E65;
  border-top: 1rem solid #9e7f64;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
  margin-top: 10rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* -- Footer -- */

.footer {
    font-size: 1.5vh;
}

.footer p a {
    color: #CA9E65;
}

.footer p a:hover {
    text-shadow:0 0 0.09375rem #CA9E65;
    text-decoration: none;
}